*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(226, 218, 216);
}

#header {
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: #3a4886;
    box-shadow: 0 5px 15px rgb(0, 0, 0, 0.06);
    z-index:999;
    position: sticky;
    top: 0;
    left: 0;

}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight:bolder;
    color: rgb(75, 233, 13);
    transition: 0.2s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: yellow;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height:2px;
    background: yellow;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

.logo {
    clip-path:circle();
}

#blog {
    padding: 150px 150px 0 150px;
}

#blog .blog-box {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    padding-bottom: 90px;
}

#blog .blog-img {
    width: 50%;
    margin-right: 40px;
}

#blog img{
    width: 100%;
    height: 300px;
    object-fit: contain;
    clip-path: circle();
}

#blog .blog-details {
    width: 50%;
}

#blog .blog-details a {
    text-decoration: none;
    font-size: 11px;
    color: rgb(15, 68, 182);
    font-weight: 700;
    position: relative;
    transition: 0.3s;
}

#blog .blog-details a::after {
    content: "";
    width: 50%;
    height: 1px;
    background-color: black;
    position: absolute;
    top: 4px;
    right: -60px;
}

#blog .blog-details a:hover {
    color: rgb(228, 30, 73);
}

#blog .blog-details a:hover::after {
    color: rgb(228, 30, 73);
}

#blog .blog-box h1{
    position: absolute;
    top: -40px;
    left: 0;
    font-size: 70px;
    font-weight: 700;
    color:gainsboro;
    z-index: -9;
}
