#header {
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: #3a4886;
    box-shadow: 0 5px 15px rgb(0, 0, 0, 0.06);
    z-index:999;
    position: sticky;
    top: 0;
    left: 0;

}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight:bolder;
    color: rgb(13, 207, 233);
    transition: 0.2s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: mistyrose;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height:2px;
    background: mistyrose;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

.logo {
    clip-path:circle();
}

.container {
    align-items: center;
    text-align: center;
}

.container h6 {
    font-weight: bold;
}

body{
    background-color:floralwhite;
}