*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(226, 218, 216);
}

#header {
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: #3a4886;
    box-shadow: 0 5px 15px rgb(0, 0, 0, 0.06);
    z-index:999;
    position: sticky;
    top: 0;
    left: 0;

}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight:bolder;
    color: rgb(75, 233, 13);
    transition: 0.2s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: yellow;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height:2px;
    background: yellow;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

.logo {
    clip-path:circle();
}

#contact-details{
    display: flex;
    align-items:center;
    justify-content: space-between;
}

#contact-details .details{
    width: 40%;
}

#contact-details .details span,
#form-details form span {
    font-size: 20px;
}

#contact-details .details h2,
#form-details form h2 {
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
}

#contact-details .details h3 {
    font-size: 20px;
    padding-bottom: 15px;
}

#contact-details .details li{
    list-style: none;
    display: flex;
    padding: 10px 0;

}

#contact-details .details li i{
    font-size: 14px;
    padding-right: 22px;
}

#contact-details .details li p{
    margin: 0;
    font-size: 14px;
}

#contact-details .map{
    width: 55%;
    height: 450px;
}

#contact-details .map iframe{
    width: 90%;
    height: 100%;
}

#form-details {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 30px;
    border: 1px solid gainsboro;
    border-radius: 10px;
}

#form-details form{
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#form-details form input,
#form-details form textarea {
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid gainsboro;
}

#form-details form button{
    color: white;
    background-color: cadetblue;
    border-radius: 20px;
}

#form-details .people div{
    padding-bottom: 25px;
    display: flex;
    align-items: flex-start;

}

#form-details .people div img{
    width: 65px;
    height: 65px;
    object-fit: cover;
    margin-right: 15px;
    clip-path: circle();
}

#form-details .people div p{
    margin: 0;
    font-size: 13px;
    line-height: 25px;
    color: gray;
}

#form-details .people div span{
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: black;
}
